# host files, protections, temporary files of Gidrodinamika 

/gidrodinamika.ru/home/gidrodin/cache/**

/gidrodinamika.ru/home/gidrodin/etc/**

*.log
!error.log
!error_log

/gidrodinamika.ru/home/gidrodin/public_ftp/**

**/db.php
**/filter_array_post_get_request.php

/gidrodinamika.ru/home/gidrodin/public_html/catalog/gor/**/*.pdf
/gidrodinamika.ru/home/gidrodin/public_html/catalog/gor/**/*.png
/gidrodinamika.ru/home/gidrodin/public_html/catalog/vert/**/*.pdf
/gidrodinamika.ru/home/gidrodin/public_html/catalog/vert/**/*.png
/gidrodinamika.ru/home/gidrodin/public_html/cgi-bin/**

404.shtml
com.txt
robots.txt

/gidrodinamika.ru/home/gidrodin/ssl/certs/**
/gidrodinamika.ru/home/gidrodin/ssl/csrs/**
/gidrodinamika.ru/home/gidrodin/ssl/keys/**
/gidrodinamika.ru/home/gidrodin/ssl/**

/gidrodinamika.ru/home/gidrodin/tmp/**